# Reading and Filtering Nested JSON File

In [57]:
# Using the 'read_json' command from the Pandas library, nested JSON files cannot be loaded correctly
import pandas as pd
my_json_data = pd.read_json('nested.json')
my_json_data

   student_roll_no                                       details
0              101   {'name': 'Andrew', 'age': 12, 'grade': 'A'}
1              102     {'name': 'John', 'age': 18, 'grade': 'B'}
2              103  {'name': 'Clinton', 'age': 11, 'grade': 'A'}
3              104    {'name': 'Drake', 'age': 12, 'grade': 'C'}
4              105    {'name': 'Eisha', 'age': 13, 'grade': 'B'}
5              106    {'name': 'Haris', 'age': 22, 'grade': 'C'}
6              107  {'name': 'Jenifer', 'age': 11, 'grade': 'A'}
7              108  {'name': 'Micheal', 'age': 19, 'grade': 'A'}
8              109     {'name': 'Isak', 'age': 10, 'grade': 'D'}
9              110     {'name': 'Jason', 'age': 9, 'grade': 'B'}

In [60]:
# The entire column 'details' of the data frame represents the Pandas series
my_json_data['details']

0     {'name': 'Andrew', 'age': 12, 'grade': 'A'}
1       {'name': 'John', 'age': 18, 'grade': 'B'}
2    {'name': 'Clinton', 'age': 11, 'grade': 'A'}
3      {'name': 'Drake', 'age': 12, 'grade': 'C'}
4      {'name': 'Eisha', 'age': 13, 'grade': 'B'}
5      {'name': 'Haris', 'age': 22, 'grade': 'C'}
6    {'name': 'Jenifer', 'age': 11, 'grade': 'A'}
7    {'name': 'Micheal', 'age': 19, 'grade': 'A'}
8       {'name': 'Isak', 'age': 10, 'grade': 'D'}
9       {'name': 'Jason', 'age': 9, 'grade': 'B'}
Name: details, dtype: object

In [61]:
type(my_json_data['details'])

pandas.core.series.Series

# STEP 1: We will load the nested JSON file first

In [62]:
import json
with open('nested.json') as f :
    my_json_data = json.load(f)

my_json_data

# After reading the JSON file, the data is loaded into the LIST data structure, as shown below.

[{'student_roll_no': 101,
  'details': {'name': 'Andrew', 'age': 12, 'grade': 'A'}},
 {'student_roll_no': 102,
  'details': {'name': 'John', 'age': 18, 'grade': 'B'}},
 {'student_roll_no': 103,
  'details': {'name': 'Clinton', 'age': 11, 'grade': 'A'}},
 {'student_roll_no': 104,
  'details': {'name': 'Drake', 'age': 12, 'grade': 'C'}},
 {'student_roll_no': 105,
  'details': {'name': 'Eisha', 'age': 13, 'grade': 'B'}},
 {'student_roll_no': 106,
  'details': {'name': 'Haris', 'age': 22, 'grade': 'C'}},
 {'student_roll_no': 107,
  'details': {'name': 'Jenifer', 'age': 11, 'grade': 'A'}},
 {'student_roll_no': 108,
  'details': {'name': 'Micheal', 'age': 19, 'grade': 'A'}},
 {'student_roll_no': 109,
  'details': {'name': 'Isak', 'age': 10, 'grade': 'D'}},
 {'student_roll_no': 110,
  'details': {'name': 'Jason', 'age': 9, 'grade': 'B'}}]

# STEP 2: In the next step, we will filter the data for condition 'age'  > 15

In [63]:
filtered_data = []
for data in my_json_data:
    filtered_variable = {}
    if data['details']['age'] > 15:
        filtered_variable['age'] = data['details']['age']
        filtered_variable['name']= data['details']['name']
        filtered_data.append(filtered_variable)
filtered_data

# After filtering the initially data frame for conditions 'age'> 15, the result data is shown below

[{'age': 18, 'name': 'John'},
 {'age': 22, 'name': 'Haris'},
 {'age': 19, 'name': 'Micheal'}]

# STEP 3: In the next step we filter the data for the condition 'grade' == 'A'

In [64]:
filtered_data1 = []

for data in my_json_data:
    filtered_variable = {}
    if data['details']['grade'] == 'A':
        filtered_variable['age'] = data['details']['age']
        filtered_variable['name']= data['details']['name']
        filtered_variable['grade']= data['details']['grade']
        filtered_data1.append(filtered_variable)
        
filtered_data1

# After filtering the initially data frame for conditions 'grade' == 'A', the result data is shown below

[{'age': 12, 'name': 'Andrew', 'grade': 'A'},
 {'age': 11, 'name': 'Clinton', 'grade': 'A'},
 {'age': 11, 'name': 'Jenifer', 'grade': 'A'},
 {'age': 19, 'name': 'Micheal', 'grade': 'A'}]